<div class="d-flex justify-content-center align-items-center border border-1 mt-3 w-100">
    <a href="/" ><input type="button"  class="btn btn-secondary m-2" style="width: 300px;" value="Voltar ao Site" /></a>
</div> 
<div class="d-flex flex-column justify-content-center align-items-center border border-1 m-5" style="width: 400px;">
    <p style="font-size: 20px;"><b>Selecione o setor:</b></p>
    <button type="button" class="btn border bg-secondary text-white w-75 m-2"  onclick="adms()" id="btt_adms">Administradores</button>
    <button type="button" class="btn border bg-secondary text-white w-75 m-2"  onclick="clientes()" id="btn_clientes">Clientes</button> 
    <button type="button" class="btn border bg-secondary text-white w-75 m-2"  onclick="mensagens()" id="btn_mensagens">Mensagens</button>
</div>
<hr/>
<div class="d-flex flex-column visually-hidden justify-content-center align-items-center m-5" style="width: 400px;" id="administradores" name="administradores">
    <form class="m-5 " action="/addAdm" method="post" id="formulario">
        <div class="d-flex flex-column justify-content-center align-items-center border border-1 w-100">        
                <input type="text" class="form-control  m-2 w-75" placeholder="E-mail de administrador" id="email" name="email" aria-label="E-mail de administrador"/>
                <button type="submit" class="btn btn-secondary m-2" style="width: 300px;" >Incluir Administrador</button>
        </div>
    </form>
    <div class="d-flex justify-content-center align-items-center border border-1 mt-3 w-100">
        <a href="/getAdms" ><input type="button"  class="btn btn-secondary m-2" style="width: 300px;" value="Consultar Adms" /></a>
    </div> 
    <div id="adms_cadastrados" class="m-3 border border-1 d-flex justify-content-center align-items-center w-100">
        
    </div>   
</div>
<form class="m-5 visually-hidden" action="/getMensagens" method="post" id="formMens">
    <div class="d-flex  justify-content-center align-items-start m-5"  id="mensagens" name="mensagens">
        <input type="text" class="form-control  m-2 w-75" placeholder="Primeiro nome ou vazio para todas " id="nome_mens" name="nome_mens" aria-label="Primeiro Nome"/>
        <button type="submit" class="btn btn-secondary m-2" style="width: 300px;" >Verificar Mensagens</button>
    </div>
</form>
<form class="m-5 visually-hidden" action="/getClientes" method="post" id="formCli">
    <div class="d-flex  justify-content-center align-items-start m-5"  id="clientes" name="clientes">    
        <input type="text" class="form-control m-2 w-75" placeholder="Primeiro nome ou vazio para todos " id="nome_cli" name="nome_cli" aria-label="Primeiro nome"/>
        <button type="submit" class="btn bg-secondary m-2" style="width: 300px;">Consultar Cliente</button>      
    </div>
</form>





<script>
    let mens = document.getElementById("formMens")
    let cli =  document.getElementById("formCli")
    let adm = document.getElementById("administradores")
    
    function adms(){

        mens.classList.add("visually-hidden")
        cli.classList.add("visually-hidden")
        adm.classList.remove("visually-hidden")

    }
    function clientes(){

        mens.classList.add("visually-hidden")
        cli.classList.remove("visually-hidden")
        adm.classList.add("visually-hidden")

    }
    function mensagens(){

        mens.classList.remove("visually-hidden")
        cli.classList.add("visually-hidden")
        adm.classList.add("visually-hidden")
    }
    function getadms(){
       
    }
    function newAdm(){

    }
    function getclient(){}
</script>