<div class="d-flex justify-content-around m-5">
    <button type="button" class="btn border bg-secondary" onclick="adms()" id="btn_adms">Administradores</button>
    <button type="button" class="btn border bg-secondary" onclick="clientes()" id="btn_clientes">Clientes</button> 
    <button type="button" class="btn border bg-secondary" onclick="mensagens()" id="btn_mensagens">Mensagens</button>
</div>

<div class="visually-hidden" id="administradores" name="administradores">
    <p>administradores</p>
</div>

<div class="visually-hidden"  id="clientes" name="clientes">
    <p>clientes</p>
</div>

<div class="visually-hidden"  class="" id="mensagens" name="mensagens">
    <p>mensagens</p>
</div>



<script>
    let mens = document.getElementById("mensagens")
    let cli =  document.getElementById("clientes")
    let adm = document.getElementById("administradores")
    
    function adms(){

        mens.classList.add("visually-hidden")
        cli.classList.add("visually-hidden")
        adm.classList.remove("visually-hidden")

    }
    function clientes(){

        mens.classList.add("visually-hidden")
        cli.classList.remove("visually-hidden")
        adm.classList.add("visually-hidden")

    }
    function mensagens(){

        mens.classList.remove("visually-hidden")
        cli.classList.add("visually-hidden")
        adm.classList.add("visually-hidden")
    }
</script>