<div class="d-flex justify-content-around m-5">
    <button type="button" class="btn border bg-secondary" onclick="adms()" id="btn_adms">Administradores</button>
    <button type="button" class="btn border bg-secondary" onclick="clientes()" id="btn_clientes">Clientes</button> 
    <button type="button" class="btn border bg-secondary" onclick="mensagens()" id="btn_mensagens">Mensagens</button>
</div>
<hr/>
<div class="d-flex flex-column w-25 visually-hidden justify-content-center align-items-start m-5" id="administradores" name="administradores">
    <input type="text" class="form-control" placeholder="E-mail de administrador" aria-label="E-mail de administrador"/>
    <button type="button" class="btn border bg-secondary" onclick="newAdm()" id="btn_newadm">Incluir Administrador</button>
    <button type="button" class="btn border bg-secondary" onclick="getadms()" id="btn_adms">Consultar Adms</button> 
    <div id="adms_cadastrados m-5"></div>
</div>

<div class="d-flex visually-hidden justify-content-center align-items-start m-5"  id="clientes" name="clientes">
    <div class="row">
        <input type="text" class="form-control" placeholder="Primeiro nome" aria-label="Primeiro nome"/>
        <button type="button" class="btn border bg-secondary" onclick="getclient()" id="btn_adms">Consultar Cliente</button>
    </div>
     
</div>

<div class="d-flex visually-hidden justify-content-center align-items-start m-5"  class="" id="mensagens" name="mensagens">
    <p>mensagens</p>
</div>



<script>
    let mens = document.getElementById("mensagens")
    let cli =  document.getElementById("clientes")
    let adm = document.getElementById("administradores")
    
    function adms(){

        mens.classList.add("visually-hidden")
        cli.classList.add("visually-hidden")
        adm.classList.remove("visually-hidden")

    }
    function clientes(){

        mens.classList.add("visually-hidden")
        cli.classList.remove("visually-hidden")
        adm.classList.add("visually-hidden")

    }
    function mensagens(){

        mens.classList.remove("visually-hidden")
        cli.classList.add("visually-hidden")
        adm.classList.add("visually-hidden")
    }
    function getadms(){

    }
    function newAdm(){}
    function getclient(){}
</script>