<div class="conteiner-fluid m-5">
    <p>Prezado(a) cliente, para logar na plataforma é necessário validar seu email através do link enviado para o mesmo.</p>
    <p>O link estará valido por 1(uma) hora.</p>
    <p>Se não encontrar o email, por favor verifique na pasta de spam.</p>
    <a class="btn btn-success" href="/login">Logar</a>
    <a class="btn btn-success" href="/">Página Inicial</a>
    <a class="btn btn-success" href="/reenviarEmail">Reenviar Email</a>
    
</div>