<div class="container-fluid">
    <hr />
        <p><strong>Copyrights e Licenças</strong></p>
    <hr />
    <table class="table">
        
        <thead>
            <tr>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nodejs</td>
                <td><a href="https://nodejs.org/en/">https://nodejs.org/en/</a></td>
            </tr>
            <tr>
                <td>Expressjs</td>
                <td><a href="https://expressjs.com/pt-br/">https://expressjs.com/pt-br/</a></td>
            </tr>
            <tr>
                <td>Typeorm</td>
                <td><a href="https://typeorm.io/">https://typeorm.io/</a></td>
            </tr>
            <tr>
                <td>Node-postgres</td>
                <td><a href="https://github.com/brianc/node-postgres">https://github.com/brianc/node-postgres</a></td>
            </tr>
            <tr>
                <td>Bootstrap</td>
                <td><a href="https://getbootstrap.com/">https://getbootstrap.com/</a></td>
            </tr>
            <tr>
                <td>Popperjs</td>
                <td><a href="https://popper.js.org/">https://popper.js.org/</a></td>
            </tr>
            <tr>
                <td>Definitelytyped</td>
                <td><a href="https://definitelytyped.org/directory.html">https://definitelytyped.org/directory.html</a></td>
            </tr>
            <tr>
                <td>Body-parser</td>
                <td><a href="https://github.com/expressjs/body-parser">https://github.com/expressjs/body-parser</a></td>
            </tr>
            <tr>
                <td>Connect-typeorm</td>
                <td><a href="https://github.com/nykula/connect-typeorm#readme">https://github.com/nykula/connect-typeorm#readme</a></td>
            </tr>
            <tr>
                <td>Express-handlebars</td>
                <td><a href="https://github.com/express-handlebars/express-handlebars">https://github.com/express-handlebars/express-handlebars</a></td>
            </tr>
            <tr>
                <td>Express-recaptcha</td>
                <td><a href="https://github.com/pdupavillon/express-recaptcha">https://github.com/pdupavillon/express-recaptcha</a></td>
            </tr>
            <tr>
                <td>Express-session</td>
                <td><a href="https://github.com/expressjs/session#readme">https://github.com/expressjs/session#readme</a></td>
            </tr>
            <tr>
                <td>Node-heroku-ssl-redirect</td>
                <td><a href="https://github.com/paulomcnally/node-heroku-ssl-redirect">https://github.com/paulomcnally/node-heroku-ssl-redirect</a></td>
            </tr>
            <tr>
                <td>Reflect-metadata</td>
                <td><a href="https://rbuckton.github.io/reflect-metadata/">https://rbuckton.github.io/reflect-metadata/</a></td>
            </tr>
            <tr>
                <td>Request</td>
                <td><a href="https://github.com/request/request#readme">https://github.com/request/request#readme</a></td>
            </tr>
            <tr>
                <td>Icons8</td>
                <td><a href="https://icons8.com.br/">https://icons8.com.br/</a></td>
            </tr>
            <tr>
                <td>flaticon</td>
                <td><a href="https://www.flaticon.com/">https://www.flaticon.com/</a></td>
            </tr>
        </tbody>
    </table>
    <hr /> 
        <p><strong>Agradecimentos:</strong></p>
    <hr />
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Heroku</td>
                <td><a href="https://www.heroku.com">heroku.com</a></td>
            </tr>
            <tr>
                <td>ElephantSql</td>
                <td><a href="https://www.elephantsql.com/">https://www.elephantsql.com/</a></td>
            </tr>
            <tr>
                <td>Google Recaptcha</td>
                <td><a href="https://www.google.com/recaptcha/about/">https://www.google.com/recaptcha/about/</a></td>
            </tr>
            <tr>
                <td>Amazon AWS</td>
                <td><a href="https://aws.amazon.com/">https://aws.amazon.com/</a></td>
            </tr>
            <tr>
                <td>Instituto Federal do Ceará - Crato</td>
                <td><a href="https://ifce.edu.br/crato">https://ifce.edu.br/crato</a></td>
            </tr>
        </tbody>
    </table>
</div>