<div class="container-fluid">

    <p class="mt-5 mb-2" style="font-size: 30px;"><strong>Créditos</strong></p>
    <table class="table">  
        <thead>
            <tr>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nodejs</td>
                <td><a href="https://nodejs.org/en/" target="_blank">https://nodejs.org/en/</a></td>
            </tr>
            <tr>
                <td>Expressjs</td>
                <td><a href="https://expressjs.com/pt-br/" target="_blank">https://expressjs.com/pt-br/</a></td>
            </tr>
            <tr>
                <td>Typeorm</td>
                <td><a href="https://typeorm.io/" target="_blank">https://typeorm.io/</a></td>
            </tr>
            <tr>
                <td>Node-postgres</td>
                <td><a href="https://github.com/brianc/node-postgres" target="_blank">https://github.com/brianc/node-postgres</a></td>
            </tr>
            <tr>
                <td>Bootstrap</td>
                <td><a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a></td>
            </tr>
            <tr>
                <td>Fontsource Metropolis</td>
                <td><a href="https://github.com/fontsource/fontsource/tree/main/fonts/other/metropolis#readme" target="_blank">https://github.com/fontsource/fontsource/tree/main/fonts/other/metropolis#readme</a></td>
            </tr>
            <tr>
                <td>rss-parser</td>
                <td><a href="https://github.com/rbren/rss-parser#readme" target="_blank">https://github.com/rbren/rss-parser#readme</a></td>
            </tr>
            <tr>
                <td>Popperjs</td>
                <td><a href="https://popper.js.org/" target="_blank">https://popper.js.org/</a></td>
            </tr>
            <tr>
                <td>Definitelytyped</td>
                <td><a href="https://definitelytyped.org/directory.html" target="_blank">https://definitelytyped.org/directory.html</a></td>
            </tr>
            <tr>
                <td>Body-parser</td>
                <td><a href="https://github.com/expressjs/body-parser" target="_blank">https://github.com/expressjs/body-parser</a></td>
            </tr>
            <tr>
                <td>Connect-typeorm</td>
                <td><a href="https://github.com/nykula/connect-typeorm#readme" target="_blank">https://github.com/nykula/connect-typeorm#readme</a></td>
            </tr>
            <tr>
                <td>Express-handlebars</td>
                <td><a href="https://github.com/express-handlebars/express-handlebars" target="_blank">https://github.com/express-handlebars/express-handlebars</a></td>
            </tr>
            <tr>
                <td>Express-recaptcha</td>
                <td><a href="https://github.com/pdupavillon/express-recaptcha" target="_blank">https://github.com/pdupavillon/express-recaptcha</a></td>
            </tr>
            <tr>
                <td>Express-session</td>
                <td><a href="https://github.com/expressjs/session#readme" target="_blank">https://github.com/expressjs/session#readme</a></td>
            </tr>
            <tr>
                <td>Node-heroku-ssl-redirect</td>
                <td><a href="https://github.com/paulomcnally/node-heroku-ssl-redirect" target="_blank">https://github.com/paulomcnally/node-heroku-ssl-redirect</a></td>
            </tr>
            <tr>
                <td>Reflect-metadata</td>
                <td><a href="https://rbuckton.github.io/reflect-metadata/" target="_blank">https://rbuckton.github.io/reflect-metadata/</a></td>
            </tr>
            <tr>
                <td>Request</td>
                <td><a href="https://github.com/request/request#readme" target="_blank">https://github.com/request/request#readme</a></td>
            </tr>
            <tr>
                <td>Nodemailer</td>
                <td><a href="https://nodemailer.com/about/" target="_blank">https://nodemailer.com/about/</a></td>
            </tr>
            <tr>
                <td>Uuid</td>
                <td><a href="https://github.com/uuidjs/uuid#readme" target="_blank">https://github.com/uuidjs/uuid#readme</a></td>
            </tr>
            <tr>
                <td>Icons8</td>
                <td><a href="https://icons8.com.br/" target="_blank">https://icons8.com.br/</a></td>
            </tr>
            <tr>
                <td>flaticon</td>
                <td><a href="https://www.flaticon.com/" target="_blank">https://www.flaticon.com/</a></td>
            </tr>
        </tbody>
    </table>

    <p class="mt-5 mb-2" style="font-size: 30px;"><strong>Agradecimentos:</strong></p>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GitHub</td>
                <td><a href="https://github.com/" target="_blank">https://github.com/</a></td>
            </tr>
            <tr>
                <td>Heroku</td>
                <td><a href="https://www.heroku.com" target="_blank">https://www.heroku.com</a></td>
            </tr>
            <tr>
                <td>ElephantSql</td>
                <td><a href="https://www.elephantsql.com/" target="_blank">https://www.elephantsql.com/</a></td>
            </tr>
            <tr>
                <td>Google Recaptcha</td>
                <td><a href="https://www.google.com/recaptcha/about/" target="_blank">https://www.google.com/recaptcha/about/</a></td>
            </tr>
            <tr>
                <td>Amazon AWS</td>
                <td><a href="https://aws.amazon.com/" target="_blank">https://aws.amazon.com/</a></td>
            </tr>
            <tr>
                <td>Instituto Federal do Ceará - Crato</td>
                <td><a href="https://ifce.edu.br/crato" target="_blank">https://ifce.edu.br/crato</a></td>
            </tr>
        </tbody>
    </table>
</div>