<div class="container-fluid">
    <hr />
    <p><strong>Copyrights e Licenças</strong></p>
    <hr />
    <p>Nodejs: <a href="https://nodejs.org/en/">https://nodejs.org/en/</a></p>
    <p>Expressjs: <a href="https://expressjs.com/pt-br/">https://expressjs.com/pt-br/</a></p>
    <p>Typeorm: <a href="https://typeorm.io/">https://typeorm.io/</a></p>
    <p>Node-postgres: <a href="https://github.com/brianc/node-postgres">https://github.com/brianc/node-postgres</a></p>
    <p>Bootstrap: <a href="https://getbootstrap.com/">https://getbootstrap.com/</a></p>
    <p>Popperjs: <a href="https://popper.js.org/">https://popper.js.org/</a></p>
    <p>Definitelytyped: <a href="https://definitelytyped.org/directory.html">https://definitelytyped.org/directory.html</a></p>
    <p>Body-parser: <a href="https://github.com/expressjs/body-parser">https://github.com/expressjs/body-parser</a></p>
    <p>Connect-typeorm: <a href="https://github.com/nykula/connect-typeorm#readme">https://github.com/nykula/connect-typeorm#readme</a></p>
    <p>Express-handlebars: <a href="https://github.com/express-handlebars/express-handlebars">https://github.com/express-handlebars/express-handlebars</a></p>
    <p>Express-recaptcha: <a href="https://github.com/pdupavillon/express-recaptcha">https://github.com/pdupavillon/express-recaptcha</a></p>
    <p>Express-session: <a href="https://github.com/expressjs/session#readme">https://github.com/expressjs/session#readme</a></p>
    <p>Node-heroku-ssl-redirect: <a href="https://github.com/paulomcnally/node-heroku-ssl-redirect">https://github.com/paulomcnally/node-heroku-ssl-redirect</a></p>
    <p>Reflect-metadata: <a href="https://rbuckton.github.io/reflect-metadata/">https://rbuckton.github.io/reflect-metadata/</a></p>
    <p>Request: <a href="https://github.com/request/request#readme">https://github.com/request/request#readme</a></p>
    <p>Icons8: <a href="https://icons8.com.br/">https://icons8.com.br/</a></p>
    <p>flaticon: <a href="https://www.flaticon.com/">https://www.flaticon.com/</a></p>
    <hr /> 
    <p><strong>Agradecimentos:</strong></p>
    <hr />
    <p>Heroku: <a href="heroku.com">heroku.com</a></p>
    <p>ElephantSql: <a href="https://www.elephantsql.com/">https://www.elephantsql.com/</a></p>
    <p>Google Recaptcha: <a href="https://www.google.com/recaptcha/about/">https://www.google.com/recaptcha/about/</a></p>
    <p>Amazon AWS: <a href="https://aws.amazon.com/">https://aws.amazon.com/</a></p>
    <p>Instituto Federal do Ceará - Crato: <a href="https://ifce.edu.br/crato">https://ifce.edu.br/crato</a></p>
</div>