<div class="d-flex align-items-center justify-content-center">
    <img src="images/Dsop_Logo.jpg" class="img-fluid" alt="Dsop Educação Finenceira" />
</div>
<div class="flex-row  m-5">
    <b style="font-size: 30px;">DSOP:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">Criada em 2008, a DSOP é uma organização dedicada à disseminação da educação financeira no Brasil e no mundo, por meio da aplicação da Metodologia DSOP, criada pelo PhD. em Educação Financeira, educador e terapeuta financeiro, Reinaldo Domingos. Para atingir essa missão, a DSOP oferece uma série de produtos e serviços para pessoas, empresas e instituições de ensino.</p> 
</div>
<div class="flex-row m-5">
    <b style="font-size: 30px;">MISSÃO:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">Disseminar a Educação Financeira no Brasil e no mundo, por meio da Metodologia DSOP, ensinando as pessoas a conquistarem autonomia financeira para a realização de seus sonhos.</p>
</div>
<div class="flex-row m-5">
    <b style="font-size: 30px;">VISÃO:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">Ser referência em Educação Financeira no Brasil e no mundo por meio da Metodologia DSOP.</p>
</div>   
<div class="flex-row  m-5">
    <b style="font-size: 30px;">VALORES:</b>
    <hr/>
    <ul style="font-size: 20px;">
        <li>FAMÍLIA</li>
        <li>DIVERSIDADE</li>
        <li>SUSTENTABILIDADE</li>
        <li>EMPREENDEDORISMO</li>
        <li>AUTONOMIA</li>
        <li>CIDADANIA</li>
    </ul>
</div>
