<div class="d-flex align-items-center justify-content-center">
    <img src="images/Dsop_Logo.jpg" class="img-fluid" alt="Dsop Educação Finenceira" />
</div>
<div class="flex-row  m-5">
    <h2><b>DSOP:</b></h2>
    <hr/>
    <h3><p class="paragraph">Criada em 2008, a DSOP é uma organização dedicada à disseminação da educação financeira no Brasil e no mundo, por meio da aplicação da Metodologia DSOP, criada pelo PhD. em Educação Financeira, educador e terapeuta financeiro, Reinaldo Domingos. Para atingir essa missão, a DSOP oferece uma série de produtos e serviços para pessoas, empresas e instituições de ensino.</p></h3> 
</div>
<div class="flex-row m-5">
    <h2><b>MISSÃO:</b></h2>
    <hr/>
    <h3><p class="paragraph">Disseminar a Educação Financeira no Brasil e no mundo, por meio da Metodologia DSOP, ensinando as pessoas a conquistarem autonomia financeira para a realização de seus sonhos.</p></h3>
</div>
<div class="flex-row m-5">
    <h2><b>VISÃO:</b></h2>
    <hr/>
    <h3><p class="paragraph">Ser referência em Educação Financeira no Brasil e no mundo por meio da Metodologia DSOP.</p></h3>
</div>   
<div class="flex-row  m-5">
    <h2><b>VALORES:</b></h2>
    <hr/>
    <ul>
        <h3><li>FAMÍLIA</li></h3>
        <h3><li>DIVERSIDADE</li></h3>
        <h3><li>SUSTENTABILIDADE</li></h3>
        <h3><li>EMPREENDEDORISMO</li></h3>
        <h3><li>AUTONOMIA</li></h3>
        <h3><li>CIDADANIA</li></h3>
    </ul>
</div>
