<div class="d-flex justify-content-center bg-black">
    <a href="/" class="text-white text-decoration-none"><h5><img src="icons/prisma_icon.png" class="img-fluid bg-white rounded-circle"/>Prisma</h5></a>
</div>