<div class="d-flex justify-content-center bg-black" >
    <a href="/" class="text-white text-decoration-none"><img src="images/Prisma_Logo.png" class="img-fluid " alt="Prisma" style="max-height: 150px;" /></a>
</div>