<div class="faleConoscoPrisma mb-5 pred_margin">
  <form  action="/faleConosco" method="post" id="formulario">
    <div class="d-flex justify-content-center m-3 text-white"><p class="m-5" style="font-size: 30px;">Fale Conosco</p></div>
    <div class="row d-flex flex-row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 m-3">
      <div class="col ">
        <input type="text" class="form-control mt-3" id="fc-nome" name="nome" placeholder="Nome:" required="required">
      </div>
      <div class="col ">
        <input type="text" class="form-control mt-3" id="fc-sobrenome" name="sobrenome" placeholder="Sobrenome:" required="required">
      </div>
      <div class="col ">
        <input type="text" class="form-control mt-3" id="telefone" name="telefone" placeholder="Telefone/Whats:" pattern="[0-9()-]{14}$" required="required">
      </div>
    </div>  
    <div class="d-flex m-4">
        <textarea type="text" style="height: 100px;" id="fc-mensagem" class="form-control mb-5 " name="mensagem" placeholder="Mensagem:" required="required" ></textarea>
    </div>
    <div class="row ">
      <div class="d-flex flex-column justify-content-center align-items-center mb-5">
          <button type="submit" class="g-recaptcha btn btn_fale_conosco" data-sitekey="6LdFP-4kAAAAADDlz8t23azcitK-oQSrEDD1nFvu" data-callback='onSubmit' data-action='submit'>Enviar</button>
      </div>
    </div>
  </form>
</div>

{{>tel_f}}