<div class="faleConoscoPrisma mb-5">
  <form  action="/faleConosco" method="post" id="formulario">
    <div class="d-flex justify-content-center m-3 text-white"><h3 class="m-5">Fale Conosco</h3></div>
    <div class="alert alert-danger" style="display: none;" role="alert" id="alerta">
        Preencha todos os campos!
    </div>
    <div class="row d-flex flex-row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 m-3">
      <div class="col ">
        <input type="text" class="form-control mt-3" id="fc-nome" name="nome" placeholder="Nome:" required>
      </div>
      <div class="col ">
        <input type="text" class="form-control mt-3" id="fc-sobrenome" name="sobrenome" placeholder="Sobrenome:" required>
      </div>
      <div class="col ">
        <input type="text" class="form-control mt-3" id="telefone" name="telefone" placeholder="Telefone/Whats:" required>
      </div>
    </div>  
    <div class="d-flex m-4">
        <input type="text" style="height: 100px;" id="fc-mensagem" class="form-control mb-5 " name="mensagem" placeholder="Mensagem:" required>
    </div>
    <div class="row ">
      <div class="d-flex flex-column justify-content-center align-items-center mb-5">
          <button form="formulario" class="g-recaptcha btn btn-primary text-white border-0" style="width: 200px; background-color: rgb(84, 202, 153);" data-sitekey="6LciB7AfAAAAAMKT3Nlr-Ch2oCIWetsL58dMkCUC" data-callback='onSubmit' data-action='submit'>ENVIAR</button>
      </div>
    </div>
  </form>
</div>