<div class="d-flex align-items-center justify-content-center">
    <img src="images/F&F_Logo.png" class="img-fluid" alt="F&F Advogados">
</div>
<div class="flex-row  m-5">
    <h2><b>F&F ADVOGADOS:</b></h2>
    <hr/>
    <h3><p class="paragraph">O Escritório França & França Advogados, foi fundado no ano 2002, voltado para atuar no universo jurídico, através da advocacia, consultoria e assessoria no segmento do direito junto aos diversos setores, integrados pelas pessoas jurídicas ou pessoas físicas.</p></h3> 
</div>
<div class="flex-row m-5">
    <h2><b>MISSÃO:</b></h2>
    <hr/>
    <h3><p class="paragraph">Proporcionar aos cidadãos, Entidades públicas e privadas o acesso ao direito de aplicação no dia a dia.</p></h3>
</div>
<div class="flex-row m-5">
    <h2><b>VISÃO:</b></h2>
    <hr/>
    <h3><p class="paragraph">Torna-se nacionalmente um centro jurídico, através do exercício da advocacia, consultoria, consultoria e estudos jurídicos.</p></h3>
</div>   
<div class="flex-row  m-5">
    <h2><b>VALORES:</b></h2>
    <hr/>
    <ul>
        <h3><li>FÉ</li></h3>
        <h3><li>RESPEITO</li></h3>
        <h3><li>ATITUDE</li></h3>
        <h3><li>HONESTIDADE</li></h3>
        <h3><li>IGUALDADE</li></h3>
        <h3><li>SUPERAÇÃO</li></h3>
    </ul>
</div>