    <div class="modal fade" id="erromodal" tabindex="-1" aria-labelledby="erromodalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="erromodalLabel" style="font-size: 20px;">Campos Inválidos</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     Verifique se os campos estão preenchidos corretamente.
                </div>
                <div class="modal-footer">
                    <spam class="text-secondary">Ao clicar em apagar conta, não será possível cancelar a operação.</spam>
                    <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>