<div class="d-flex align-items-center justify-content-center">
    <img src="images/Futurum_Logo.png" class="img-fluid" alt="Futurum Tecnhology">
</div>
<div class="flex-row  m-5">
    <b style="font-size: 30px;">FUTURUM:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">A empresa Futurum Tecnology foi criada em 2018, para trabalhar com sistemas operacionais e soluções tecnológicas para diversos setores públicos e privados, procurando proporcionar experiências personalizadas e eficientes nas rotinas operacionais dos clientes.</p>
</div>
<div class="flex-row m-5">
    <b  style="font-size: 30px;">MISSÃO:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">Criar ferramentas e soluções tecnológicas para pessoas e instituições, desenvolverem suas atividades de forma eficiente.</p>
</div>
<div class="flex-row m-5">
    <b  style="font-size: 30px;">VISÃO:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">Tornar-se referência em soluções tecnológicas proativa e atendimento virtual, na região nordeste.</p>
</div>   
<div class="flex-row  m-5">
    <b  style="font-size: 30px;">VALORES:</b>
    <hr/>
    <ul style="font-size: 20px;">
        <li>ATITUDE</li>
        <li>HONESTIDADE</li>
        <li>CONHECIMENTO</li>
        <li>IGUALDADE</li>
        <li>RESILIÊNCIA</li>
        <li>INOVAÇÃO</li>
        <li>TRANSFORMAÇÃO</li>
    </ul>
</div>
