<div class="d-flex align-items-center justify-content-center">
    <img src="images/Futurum_Logo.png" class="img-fluid" alt="Futurum Tecnhology">
</div>
<div class="flex-row  m-5">
    <h2><b>FUTURUM:</b></h2>
    <hr/>
    <h3><p class="paragraph">A empresa Futurum Tecnology foi criada em 2018, para trabalhar com sistemas operacionais e soluções tecnológicas para diversos setores públicos e privados, procurando proporcionar experiências personalizadas e eficientes nas rotinas operacionais dos clientes.</p></h3> 
</div>
<div class="flex-row m-5">
    <h2><b>MISSÃO:</b></h2>
    <hr/>
    <h3><p class="paragraph">Criar ferramentas e soluções tecnológicas para pessoas e instituições, desenvolverem suas atividades de forma eficiente.</p></h3>
</div>
<div class="flex-row m-5">
    <h2><b>VISÃO:</b></h2>
    <hr/>
    <h3><p class="paragraph">Tornar-se referência em soluções tecnológicas proativa e atendimento virtual, na região nordeste.</p></h3>
</div>   
<div class="flex-row  m-5">
    <h2><b>VALORES:</b></h2>
    <hr/>
    <ul>
        <h3><li>ATITUDE</li></h3>
        <h3><li>HONESTIDADE</li></h3>
        <h3><li>CONHECIMENTO</li></h3>
        <h3><li>IGUALDADE</li></h3>
        <h3><li>RESILIÊNCIA</li></h3>
        <h3><li>INOVAÇÃO</li></h3>
        <h3><li>TRANSFORMAÇÃO</li></h3>
    </ul>
</div>
