
  <div class="flex-column ">
    <div class="d-flex justify-content-around border-bottom border-1">
      <form class="m-5 " action="/entrar" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" minlength="8" maxlength="20" placeholder="Digite a sua senha" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </form>
      <div class="mb-3">
        <input type="hidden" class="grecaptcha">
        {{captcha}}
      </div>
    </div>
    <div class="d-flex justify-content-around m-2">
        <a href="/cadastrar" class="btn btn-success btn-lg" role="button">Cadastrar</a>
    </div>
  </div>
