
  <div class="flex-column ">
    <div class="d-flex justify-content-around border-bottom border-1">
      <form class="m-5 ">
        <div class="mb-3">
          <label for="emailLogin" class="form-label">Email</label>
          <input type="email" class="form-control" id="emailLogin" placeholder="exemplo@gmail.com" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="PassLogin" placeholder="8-20 caracteres" required>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
    <div class="d-flex justify-content-around m-2">
        <a href="/cadastrar" class="btn btn-success btn-lg" role="button">Cadastrar</a>
    </div>
  </div>
