<div class="flex-column ">

    <div class="d-flex justify-content-around"> 
        <form class="m-5 " action="/entrar" method="post" id="formulario">
            {{#if relogin}}
                <div class="alert alert-danger" role="alert" id="alerta">
                    Usuário não encontrado!
                </div>
                <script>
                    setTimeout(function(){

                        var alert = document.getElementById("alerta");

                        alert.style="display:none"


                        }, 3000);
                </script>
            {{/if}}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="d-flex flex-row" >
                    <input type="password" class="form-control" id="password" name="password" minlength="8" maxlength="20" placeholder="Digite a sua senha" required>
                    <button type="button" class="btn border" onclick="olho()" id="btn_olho"><img src="icons/olho_a_icon.png" id="icon_olho"></button>
                </div>          
            </div>
            <button class="g-recaptcha btn btn-primary w-100" data-sitekey="6LciB7AfAAAAAMKT3Nlr-Ch2oCIWetsL58dMkCUC" data-callback='onSubmit' data-action='submit'>Entrar</button>
            {{#if captchaErr}}
                <div class="alert alert-danger" role="alert" id="alerta2">
                    {{status}}
                </div>
                <script>
                    setTimeout(function(){
                        var alert = document.getElementById("alerta2");
                        alert.style="display:none"
                        }, 3000);
                </script>
            {{/if}}
            
        </form>
    </div>
    <div class="d-flex justify-content-around m-5">
        <p>Ainda não tem cadastro? <a href="/cadastrar" class="text-blue">Cadastrar-se</a></p>
        
    </div>
</div>
