<div class="d-flex align-items-center justify-content-center">
    <img src="images/Luz_Logo.png" class="img-fluid" alt="Luz Estágios">
</div>
<div class="flex-row  m-5">
    <b style="font-size: 30px;">LUZ:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">A empresa Luz Estágio, surgiu no ano de 2018, para atuar como agente de integração entre empresas e pessoas, proporcionando momentos de oportunidades de aprendizados e atividades laborais, além de incentivar a qualificação profissional e gestão de pessoas.</p> 
</div>
<div class="flex-row m-5">
    <b style="font-size: 30px;">MISSÃO:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">A empresa Luz Estágio, surgiu no ano de 2018, para atuar como agente de integração entre empresas e pessoas, proporcionando momentos de oportunidades de aprendizados e atividades laborais, além de incentivar a qualificação profissional e gestão de pessoas.</p>
</div>
<div class="flex-row m-5">
    <b style="font-size: 30px;">VISÃO:</b>
    <hr/>
   <p class="paragraph" style="font-size: 20px;">Torna-se referência nacional, na inserção de pessoas na atividade profissional e, na capacitação de pessoas para alcançar sua independência financeira.</p>
</div>   
<div class="flex-row  m-5">
    <b style="font-size: 30px;">VALORES:</b>
    <hr/>
    <ul style="font-size: 20px;">
        <li>FÉ</li>
        <li>RESPEITO</li>
        <li>TRANSFORMAÇÃO</li>
        <li>CONHECIMENTO</li>
        <li>RESILIÊNCIA</li>
        <li>IGUALDADE</li>
        <li>EMPATIA</li>
    </ul>
</div>
