<div class="d-flex align-items-center justify-content-center">
    <img src="images/Luz_Logo.png" class="img-fluid" alt="Luz Estágios">
</div>
<div class="flex-row  m-5">
    <h2><b>LUZ:</b></h2>
    <hr/>
    <h3><p class="paragraph">A empresa Luz Estágio, surgiu no ano de 2018, para atuar como agente de integração entre empresas e pessoas, proporcionando momentos de oportunidades de aprendizados e atividades laborais, além de incentivar a qualificação profissional e gestão de pessoas.</p></h3> 
</div>
<div class="flex-row m-5">
    <h2><b>MISSÃO:</b></h2>
    <hr/>
    <h3><p class="paragraph">A empresa Luz Estágio, surgiu no ano de 2018, para atuar como agente de integração entre empresas e pessoas, proporcionando momentos de oportunidades de aprendizados e atividades laborais, além de incentivar a qualificação profissional e gestão de pessoas.</p></h3>
</div>
<div class="flex-row m-5">
    <h2><b>VISÃO:</b></h2>
    <hr/>
    <h3><p class="paragraph">Torna-se referência nacional, na inserção de pessoas na atividade profissional e, na capacitação de pessoas para alcançar sua independência financeira.</p></h3>
</div>   
<div class="flex-row  m-5">
    <h2><b>VALORES:</b></h2>
    <hr/>
    <ul>
        <h3><li>FÉ</li></h3>
        <h3><li>RESPEITO</li></h3>
        <h3><li>TRANSFORMAÇÃO</li></h3>
        <h3><li>CONHECIMENTO</li></h3>
        <h3><li>RESILIÊNCIA</li></h3>
        <h3><li>IGUALDADE</li></h3>
        <h3><li>EMPATIA</li></h3>
    </ul>
</div>
