<div class="d-flex align-items-center justify-content-center">
    <img src="images/Next_Logo.png" class="img-fluid" alt="Next Contabilidade">
</div>
<div class="flex-row  m-5">
    <h2><b>NEXT:</b></h2>
    <hr/>
    <h3><p class="paragraph">Surgiu com o objetivo de assessorar  empresas de modo que elas possam se autodesenvolver, tornando-se independentes, sustentáveis econômico e financeiramente com processos definidos e dentro das conformidades.</p></h3> 
</div>
<div class="flex-row m-5">
    <h2><b>MISSÃO:</b></h2>
    <hr/>
    <h3><p class="paragraph">Assessorar empresas de modo que elas possam se autodesenvolver, tornando-se independentes, sustentáveis economico e financeiramente com processos definidos e dentro das conformidades. Assessorar para que as pequenas e médias empresas tenham as mesmas condições de atuação das grandes empresas. Prover soluções empresariais e contábeis com foco no resultado dos nossos clientes.</p></h3>
</div>
<div class="flex-row m-5">
    <h2><b>VISÃO:</b></h2>
    <hr/>
    <h3><p class="paragraph">Assessorar empresas de modo que elas possam se autodesenvolver, tornando-se independentes, sustentáveis economico e financeiramente com processos definidos e dentro das conformidades. Assessorar para que as pequenas e médias empresas tenham as mesmas condições de atuação das grandes empresas. Prover soluções empresariais e contábeis com foco no resultado dos nossos clientes.</p></h3>
</div>   
<div class="flex-row  m-5">
    <h2><b>VALORES:</b></h2>
    <hr/>
    <h3><p class="paragraph">Cremos e utilizamos preceitos de ética, sustentabilidade e governança que nos norteiam. A Ética profissional, a seriedade e a valorização das pessoas são os pilares dos valores da empresa.</p></h3>
</div>