<div class="d-flex align-items-center justify-content-center">
    <img src="images/Next_Logo.png" class="img-fluid" alt="Next Contabilidade">
</div>
<div class="flex-row  m-5">
    <b style="font-size: 30px;">NEXT:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">Surgiu com o objetivo de assessorar  empresas de modo que elas possam se autodesenvolver, tornando-se independentes, sustentáveis econômico e financeiramente com processos definidos e dentro das conformidades.</p> 
</div>
<div class="flex-row m-5">
    <b style="font-size: 30px;">MISSÃO:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">Assessorar empresas de modo que elas possam se autodesenvolver, tornando-se independentes, sustentáveis economico e financeiramente com processos definidos e dentro das conformidades. Assessorar para que as pequenas e médias empresas tenham as mesmas condições de atuação das grandes empresas. Prover soluções empresariais e contábeis com foco no resultado dos nossos clientes.</p>
</div>
<div class="flex-row m-5">
    <b style="font-size: 30px;">VISÃO:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">Assessorar empresas de modo que elas possam se autodesenvolver, tornando-se independentes, sustentáveis economico e financeiramente com processos definidos e dentro das conformidades. Assessorar para que as pequenas e médias empresas tenham as mesmas condições de atuação das grandes empresas. Prover soluções empresariais e contábeis com foco no resultado dos nossos clientes.</p>
</div>   
<div class="flex-row  m-5">
    <b style="font-size: 30px;">VALORES:</b>
    <hr/>
    <p class="paragraph" style="font-size: 20px;">Cremos e utilizamos preceitos de ética, sustentabilidade e governança que nos norteiam. A Ética profissional, a seriedade e a valorização das pessoas são os pilares dos valores da empresa.</p>
</div>