 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <h1 class="text-black"><b>Conheça Nossas Soluções</b></h1>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row flex-row justify-content-around row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3">
        <div class="row mt-5">
            <div class="d-flex col-3 flex-column align-items-startcenter justify-content-center" >
                <p><h3 class="text-secondary">Soluções</h3></p>     
                <img src="images/Prisma_sol.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-start">
                
                <p class="paragraph">Entrega de serviços e soluções empresariais. </p>
            </div>
        </div> 
        <div class="row mt-5">
            <div class="d-flex col-3 flex-column align-items-start justify-content-center" > 
                <p><h3 class="text-secondary">Jurídico</h3></p>     
                <img src="images/F&F_Sol.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-start">
                
                <p class="paragraph">Consultoria Jurídica nas áreas do Direito Bancário, Trabalhista, Cível, Previdenciário.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="d-flex col-3 flex-column align-items-start justify-content-center" >
                <p><h3 class="text-secondary">Contabilidade</h3></p>     
                <img src="images/Next_Sol.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-start">
                
                <p class="paragraph">Assessoria contábil para empresas e  pessoas físicas com ênfase no conhecimento tributário e no desenvolvimento sustentável.</p>
            </div>
        </div> 
        <div class="row mt-5">
            <div class="d-flex col-3 flex-column align-items-start justify-content-center" >
                <p><h3 class="text-secondary">Estágios</h3></p>    
                <img src="images/Luz_Sol.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-start">
                
                <p class="paragraph">Seleção para inserção no mercado de trabalho e estágios. </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="d-flex col-3 flex-column align-items-start justify-content-center">
                <p><h3 class="text-secondary">Tecnologia</h3></p>     
                <img src="images/Futurum_Sol.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-start">
                
                <p class="paragraph">Desenvolvimento de sistemas e customização de ferramentas para o setor público e privado, em especial no turismo, gestão de frotas, telemetria e digitalização de documentos.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="d-flex col-3 flex-column align-items-start justify-content-center" > 
                <p><h3 class="text-secondary">Finanças</h3> </p>   
                <img src="images/Dsop_Sol.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-start">
                
                <p class="paragraph">Disseminação da educação financeira, através da Metodologia DSOP.</p>
            </div>
        </div>        
       
    </div>
    <div class="col d-flex justify-content-center align-items-center" >

      <a href="/contactar"><input type="button"  class="btn_fcam" value="FALE CONOSCO AGORA MESMO" /></a>

    </div>
</div>