 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <p class="text-black" style="font-size: 30px;"><b>Conheça Nossas Soluções</b></p>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row justify-content-center align-items-center row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 m-2">

        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            
                <p class="text-secondary " style="font-size: 30px;">Empreendedorismo</p>     
                <img src="images/Prisma_Logo_2.jpg" class="img-fluid" alt="Prisma">
           
        </div> 
       
        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            <p class="text-secondary " style="font-size: 30px;">Jurídico</p>     
            <img src="images/F&F_Logo.png" class="img-fluid" alt="F&F">
        </div>
    
    
        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            <p class="text-secondary " style="font-size: 30px;">Contabilidade</p>     
            <img src="images/Next_Logo.png" class="img-fluid" alt="NEXT">
        </div>
    
    
        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            <p class="text-secondary " style="font-size: 30px;">Estágios</p>    
            <img src="images/Luz_Logo.png" class="img-fluid" alt="Luz Estágios">
        </div>
    
        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            <p class="text-secondary " style="font-size: 30px;">Tecnologia</p>     
            <img src="images/Futurum_Logo.png" class="img-fluid" alt="Futurum">
        </div>
    
    
        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            <p class="text-secondary " style="font-size: 30px;">Educação</p>   
            <img src="images/Dsop_Logo.jpg" class="img-fluid" alt="Dsop">
        </div>
                 
    </div>
    <div class="col d-flex justify-content-center align-items-center mt-5" >

      <a href="/contactar"><input type="button"  class="btn_fcam" value="FALE CONOSCO AGORA MESMO" /></a>

    </div>
</div>