 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <h1 class="text-black"><b>Conheça Nossas Soluções</b></h1>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row justify-content-around align-items-center row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 m-2">

        <div class="row d-flex  mt-5 m-1 row-cols-1 row-cols-sm-1 row-cols-md-2 " >
            <div class="col " style="width: 180px;" >
                <p><h3 class="text-secondary ">Soluções</h3></p>     
                <img src="images/Prisma_Sol.png" class="img-fluid" alt="Prisma">
            </div>
            <div class="col" >
                
                <p class="paragraph">Entrega de serviços e soluções empresariais. </p>
            </div>
        </div> 
        <div class="row d-flex  mt-5  m-1 row-cols-1 row-cols-sm-1 row-cols-md-2 " >
            <div class="col" style="width: 180px;" > 
                <p><h3 class="text-secondary  ">Jurídico</h3></p>     
                <img src="images/F&F_Sol.png" class="img-fluid" alt="F&F">
            </div>
            <div class="col" >
                
                <p class="paragraph">Consultoria Jurídica nas áreas do Direito Bancário, Trabalhista, Cível, Previdenciário.</p>
            </div>
        </div>
        <div class="row d-flex  mt-5  m-1 row-cols-1 row-cols-sm-1 row-cols-md-2 " >
            <div class="col"  style="width: 180px;">
                <p><h3 class="text-secondary ">Contabilidade</h3></p>     
                <img src="images/Next_Sol.png" class="img-fluid" alt="NEXT">
            </div>
            <div class="col" >
                
                <p class="paragraph">Assessoria contábil para empresas e  pessoas físicas com ênfase no conhecimento tributário e no desenvolvimento sustentável.</p>
            </div>
        </div> 
        <div class="row d-flex  mt-5  m-1 row-cols-1 row-cols-sm-1 row-cols-md-2 " >
            <div class="col" style="width: 180px;">
                <p><h3 class="text-secondary  ">Estágios</h3></p>    
                <img src="images/Luz_Sol.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="col" >
                
                <p class="paragraph">Seleção para inserção no mercado de trabalho e estágios. </p>
            </div>
        </div>
        <div class="row d-flex  mt-5  m-1 row-cols-1 row-cols-sm-1 row-cols-md-2 " >
            <div class="col" style="width: 180px;">
                <p><h3 class="text-secondary  ">Tecnologia</h3></p>     
                <img src="images/Futurum_Sol.png" class="img-fluid" alt="Futurum">
            </div>
            <div class="col" >
                
                <p class="paragraph">Desenvolvimento de sistemas e customização de ferramentas para o setor público e privado, em especial no turismo, gestão de frotas, telemetria e digitalização de documentos.</p>
            </div>
        </div>
        <div class="row d-flex  mt-5   m-1 row-cols-1 row-cols-sm-1 row-cols-md-2 " >
            <div class="col-3" style="width: 180px;" > 
                <p><h3 class="text-secondary  ">Finanças</h3> </p>   
                <img src="images/Dsop_Sol.png" class="img-fluid" alt="Dsop">
            </div>
            <div class="col-9" >
                
                <p class="paragraph">Disseminação da educação financeira, através da Metodologia DSOP.</p>
            </div>
        </div>        
       
    </div>
    <div class="col d-flex justify-content-center align-items-center mt-5" >

      <a href="/contactar"><input type="button"  class="btn_fcam" value="FALE CONOSCO AGORA MESMO" /></a>

    </div>
</div>