 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <h2 class="text-black"><b>Conheça Nossas Soluções</b></h2>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row justify-content-center align-items-center row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 m-2">

        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            
                <p><h2 class="text-secondary ">Empreendedorismo</h2></p>     
                <img src="images/Prisma_Logo_2.jpg" class="img-fluid" alt="Prisma">
           
        </div> 
       
        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            <p><h2 class="text-secondary  ">Jurídico</h2></p>     
            <img src="images/F&F_Logo.png" class="img-fluid" alt="F&F">
        </div>
    
    
        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            <p><h2 class="text-secondary ">Contabilidade</h2></p>     
            <img src="images/Next_Logo.png" class="img-fluid" alt="NEXT">
        </div>
    
    
        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            <p><h2 class="text-secondary  ">Estágios</h2></p>    
            <img src="images/Luz_Logo.png" class="img-fluid" alt="Luz Estágios">
        </div>
    
        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            <p><h2 class="text-secondary  ">Tecnologia</h2></p>     
            <img src="images/Futurum_Logo.png" class="img-fluid" alt="Futurum">
        </div>
    
    
        <div class="d-flex flex-column align-items-center justify-content-center mt-5"> 
            <p><h2 class="text-secondary  ">Educação</h2> </p>   
            <img src="images/Dsop_Logo.jpg" class="img-fluid" alt="Dsop">
        </div>
                 
    </div>
    <div class="col d-flex justify-content-center align-items-center mt-5" >

      <a href="/contactar"><input type="button"  class="btn_fcam" value="FALE CONOSCO AGORA MESMO" /></a>

    </div>
</div>