 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <h1 class="text-black"><b>Conheça Nosso Time!</b></h1>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row flex-row justify-content-around row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 m-5">
     
        <div class="d-flex col flex-column align-items-center justify-content-center">     
            <img src="images/time_image.png" class="img-fluid" >
             <p><h2 class="text-black">Nome</h2></p>
             <p><h5 class="text-secondary">Ocupação</h5></p>    
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-center">     
            <img src="images/time_image.png" class="img-fluid" >
             <p><h2 class="text-black">Nome</h2></p>
             <p><h5 class="text-secondary">Ocupação</h5></p>
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-center">     
            <img src="images/time_image.png" class="img-fluid" >
             <p><h2 class="text-black">Nome</h2></p>
            <p><h5 class="text-secondary">Ocupação</h5></p>
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-center">     
            <img src="images/time_image.png" class="img-fluid" >
             <p><h2 class="text-black">Nome</h2></p>
             <p><h5 class="text-secondary">Ocupação</h5></p>
        </div>
</div>