 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <p class="text-black" style="font-size: 30px;"><b>Conheça Nosso Time!</b></p>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row flex-row justify-content-around row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 m-5">
     
        <div class="d-flex col flex-column align-items-center justify-content-start mt-1">     
            <img src="images/Ti_CICERO.jpg" class="img-fluid" alt="Cícero" />
            <button type="button" class="btn btn-outline-secondary  mt-2 w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Advogado, Graduado pela URCA em Direito, ex-professor na URCA e pos graduado em Direito Humanos pela URCA. Pós graduado pela PUC em Investimento e Banking, graduando em Ciências Contábeis pela Estácio de Sá. Pós graduado em educação financeira com neuro ciência pela UNOESTE/DSOP. Agente Autônomo de Investimento – AAI. Sócio do grupo Prisma Conexões.">
                <div class="text-black d-flex justify-content-center align-items-center" style="font-size: 20px;">Cícero França </div>
            </button>
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start mt-1">     
            <img src="images/T_NATHALIE.jpg" class="img-fluid" alt="Nathalie" />
             
            <button type="button" class="btn btn-outline-secondary  mt-2 w-100"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Assessora comercial, Assessora administrativa, Bacharelanda em Enfermagem e administração, Sócia do grupo Prisma Conexões.">
                <div class="text-black d-flex justify-content-center align-items-center" style="font-size: 20px;">Nathalie Macedo</div>    
            </button>
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start mt-1">     
            <img src="images/T_KELUANA.jpg" class="img-fluid" alt="Keluana" />
            <button type="button" class="btn btn-outline-secondary mt-2 w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Graduação em Ciências Contábeis e pós-graduação em Controladoria e Auditoria Contábil pela Unileão, pós-graduação em Contabilidade, Compliance e Direito Tributário pela BSSP. Contadora, empresária, sócia da Next - Assessoria Contábil e Empresarial e do Grupo Prisma Conexões.">
                <div class="text-black d-flex justify-content-center align-items-center" style="font-size: 20px;">Keluana de Sousa</div>   
            </button>
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start mt-1">     
            <img src="images/T_RAQUEL.jpg" class="img-fluid" alt="Raquel" />
            <button type="button" class="btn btn-outline-secondary mt-2 w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="SECRETÁRIA. 14  anos de experiência como secretária jurídica.">
                <div class="text-black d-flex justify-content-center align-items-center" style="font-size: 20px;">Raquel Alves </div>   
            </button>  
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start mt-1">     
            <img src="images/T_EMANUELLE.jpg" class="img-fluid" alt="Emanuelle" />
            <button type="button" class="btn btn-outline-secondary mt-2 w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Emanuelle Maria Bento Calixto, graduada em direito pela UNILEÃO - centro universitário doutor Leão Sampaio e pós graduanda em direito previdenciário e trabalhista pela universidade regional do cariri – URCA.">
                <div class="text-black d-flex justify-content-center align-items-center" style="font-size: 20px;">Emanuelle Maria</div>    
            </button>    
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start mt-1">     
            <img src="images/T_GEANE.jpg" class="img-fluid" alt="Geane" />
            <button type="button" class="btn btn-outline-secondary mt-2 w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Geane Ferreira de Aguiar. Advogada OAB/ CE nº38.877 Bacharel em Direito pela Faculdade Paraíso; Pós-graduanda em Direito Previdenciário e Trabalhista pela Universidade Regional do Cariri – URCA; Pedagoga, formada pela Universidade Regional do Cariri – URCA; Pós-Graduada em Língua Portuguesa pela Universidade Regional do Cariri – URCA;">
                <div class="text-black d-flex justify-content-center align-items-center" style="font-size: 20px;">Geane Ferreira</div>   
            </button>
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start mt-1">     
            <img src="images/T_RAFAEL.jpg" class="img-fluid" alt="Rafael" />
            <button type="button" class="btn btn-outline-secondary mt-2 w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Graduado em sistema de informação pelo IFCE Campus Crato e Análise e desenvolvimento de sistemas pela Estácio FMJ, atua na área tecnologia à mais de 15 anos, tenho habilidades em infraestrutura, internet das coisas, casa inteligente, sistemas, redes de computadores e segurança da informação.">
                <div class="text-black d-flex justify-content-center align-items-center" style="font-size: 20px;">Rafael Alexandre</div>   
            </button>   
        </div>
    </div>