 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <h1 class="text-black"><b>Conheça Nosso Time!</b></h1>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row flex-row justify-content-around row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 m-5">
     
        <div class="d-flex col flex-column align-items-center justify-content-start">     
            <img src="images/Time_CICERO.jpg" class="img-fluid" >
             <p><h2 class="text-black">Cícero França</h2></p>
             <p><h5 class="text-secondary paragraph">Advogado, Graduado pela URCA em Direito, ex-professor na URCA e pos graduado em Direito Humanos pela URCA. Pós graduado pela PUC em Investimento e Banking, graduando em Ciências Contábeis pela Estácio de Sá. Pós graduado em educação financeira com neuro ciência pela UNOESTE/DSOP. Agente Autônomo de Investimento – AAI. Sócio do grupo Prisma Conexões.</h5></p>    
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start">     
            <img src="images/Time_NATHALIE.jpg" class="img-fluid" >
             <p><h2 class="text-black">Nathalie</h2></p>
             <p><h5 class="text-secondary paragraph">Assessora comercial, Assessora administrativa, Bacharelanda em Enfermagem e administração, Sócia do grupo Prisma Conexões.</h5></p>
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start">     
            <img src="images/Time_KELUANA.jpg" class="img-fluid" >
             <p><h2 class="text-black">Keluana</h2></p>
            <p><h5 class="text-secondary paragraph">Graduação em Ciências Contábeis e pós-graduação em Controladoria e Auditoria Contábil pela Unileão, pós-graduação em Contabilidade, Compliance e Direito Tributário pela BSSP. Contadora, empresária, sócia da Next - Assessoria Contábil e Empresarial e do Grupo Prisma Conexões.</h5></p>
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start">     
            <img src="images/Time_RAQUEL.jpg" class="img-fluid" >
             <p><h2 class="text-black">Raquel</h2></p>
             <p><h5 class="text-secondary paragraph">SECRETÁRIA. 14  anos de experiência como secretária jurídica.</h5></p>    
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start">     
            <img src="images/Time_EMANUELLE.jpg" class="img-fluid" >
             <p><h2 class="text-black">Emanuelle</h2></p>
             <p><h5 class="text-secondary paragraph">Emanuelle Maria Bento Calixto, graduada em direito pela UNILEÃO - centro universitário doutor Leão Sampaio e pós graduanda em direito previdenciário e trabalhista pela universidade regional do cariri – URCA.</h5></p>    
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start">     
            <img src="images/Time_GEANE.jpg" class="img-fluid" >
             <p><h2 class="text-black">Geane</h2></p>
             <p><h5 class="text-secondary paragraph">Geane Ferreira de Aguiar. Advogada OAB/ CE nº38.877 Bacharel em Direito pela Faculdade Paraíso; Pós-graduanda em Direito Previdenciário e Trabalhista pela Universidade Regional do Cariri – URCA; Pedagoga, formada pela Universidade Regional do Cariri – URCA; Pós-Graduada em Língua Portuguesa pela Universidade Regional do Cariri – URCA;</h5></p>
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-start">     
            <img src="images/Time_RAFAEL.jpg" class="img-fluid" >
             <p><h2 class="text-black">Rafael</h2></p>
             <p><h5 class="text-secondary paragraph">Graduado em sistema de informação pelo IFCE Campus Crato e Análise e desenvolvimento de sistemas pela Estácio FMJ, atua na área tecnologia à mais de 15 anos, tenho habilidades em infraestrutura, internet das coisas, casa inteligente, sistemas, redes de computadores e segurança da informação.</h5></p>    
        </div>

    </div>
    <div class="row flex-row justify-content-around row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 m-5">
        <div class="d-flex col flex-column align-items-center justify-content-center mt-5">     
            <img src="images/Time_COLETIVA_1.jpg" class="img-fluid" >  
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-center mt-5">     
            <img src="images/Time_COLETIVA_2.jpg" class="img-fluid" >  
        </div>
        <div class="d-flex col flex-column align-items-center justify-content-center mt-5">     
            <img src="images/Time_COLETIVA_3.jpg" class="img-fluid" > 
        </div>

    </div>