 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <h1 class="text-black"><b>Conheça Nossas Soluções</b></h1>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row flex-row justify-content-around row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <div class="row m-2">
            <div class="d-flex col-3 flex-column align-items-center justify-content-center">     
                <img src="images/luzLogo.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-center">
                <p><h2 class="text-secondary">Solução 1</h2></p>
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </div>
        </div> 
        <div class="row">
            <div class="d-flex col-3 flex-column align-items-center justify-content-center">      
                <img src="images/luzLogo.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-center">
                <p><h2 class="text-secondary">Solução 2</h2></p>
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </div>
        </div>
        <div class="row">
            <div class="d-flex col-3 flex-column align-items-center justify-content-center">     
                <img src="images/luzLogo.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-center">
                <p><h2 class="text-secondary">Solução 3</h2></p>
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </div>
        </div> 
        <div class="row">
            <div class="d-flex col-3 flex-column align-items-center justify-content-center">    
                <img src="images/luzLogo.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-center">
                <p><h2 class="text-secondary">Solução 4</h2></p>
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </div>
        </div>
        <div class="row">
            <div class="d-flex col-3 flex-column align-items-center justify-content-center">     
                <img src="images/luzLogo.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-center">
                <p><h2 class="text-secondary">Solução 5</h2></p>
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </div>
        </div>
        <div class="row">
            <div class="d-flex col-3 flex-column align-items-center justify-content-center">     
                <img src="images/luzLogo.png" class="img-fluid" alt="Luz Estágios">
            </div>
            <div class="d-flex col-9 flex-column justify-content-center align-items-center">
                <p><h2 class="text-secondary">Solução 6</h2></p>
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </div>
        </div>        
       
    </div>
    <div class="col d-flex justify-content-center align-items-center" >

      <a href="/contactar"><input type="button"  class="btn_fcam" value="FALE CONOSCO AGORA MESMO" /></a>

    </div>
</div>