 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <h2 class="text-black"><b>Parceiros</b></h2>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row flex-row justify-content-around row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <div class=" col card border-0">
        <a href="/fef" class="text-decoration-none text-black">
            <img src="images/F&F_Logo.png" class="image card-img-top img-fluid" alt="F&F Advogados">
            <div class="card-body">
            <p class="card-text">
                <p class="paragraph">FUNDADO NO ANO 2000 POR SEU ADMINISTRADOR CICERO LUIZ BEZERRA FRANÇA, o escritório possui profissionais aptos a prestarem assistência jurídica na advocacia preventiva, contenciosa, consultiva e de apoio, objetivando a prestação de serviços jurídicos com profissionalismo, qualidade e excelência.</p> 
            </p>
            </div>
        </a>
        </div>
        <div class="col card border-0">
        <a href="/luz" class="text-decoration-none text-black">
            <img src="images/Luz_Logo.png" class="image card-img-top img-fluid" alt="Luz Estágios">
            <div class="card-body">
            <p class="card-text">
                <p class="paragraph">A empresa Luz Estágio, surgiu no ano de 2018, para atuar como agente de integração entre empresas e pessoas, proporcionando momentos de oportunidades de aprendizados e atividades laborais, além de incentivar a qualificação profissional e gestão de pessoas.</p>
            </p>
            </div>
        </a>
        </div>
        <div class="col card border-0">
        <a href="/dsop" class="text-decoration-none text-black">
            <img src="images/Dsop_Logo.jpg" class="image card-img-top img-fluid" alt="Dsop Educação Financeira">
            <div class="card-body">
            <p class="card-text">
                <p class="paragraph">Criada em 2008, a DSOP é uma organização dedicada à disseminação da educação financeira no Brasil e no mundo, por meio da aplicação da Metodologia DSOP, criada pelo PhD. em Educação Financeira, educador e terapeuta financeiro, Reinaldo Domingos. Para atingir essa missão, a DSOP oferece uma série de produtos e serviços para pessoas, empresas e instituições de ensino. </p>
            </p>
            </div>
        </a>
        </div>
        <div class="col card border-0">
        <a href="/futurum" class="text-decoration-none text-black">
            <img src="images/Futurum_Logo.png" class="image card-img-top img-fluid" alt="Futurum Tecnhology">
            <div class="card-body">
            <p class="card-text">
                <p class="paragraph">A empresa Futurum Tecnology foi criada em 2018, para trabalhar com sistemas operacionais e soluções tecnológicas para diversos setores públicos e privados, procurando proporcionar experiências personalizadas e eficientes nas rotinas operacionais dos clientes.</p>
            </p>
            </div>
        </a>
        </div>
        <div class="col card border-0">
        <a href="/next" class="text-decoration-none text-black">
            <img src="images/Next_Logo.png" class="image card-img-top img-fluid" alt="Next Contabilidade">
            <div class="card-body">
            <p class="card-text">
                <p class="paragraph">A NEXT surgiu no ano de 2020 com o objetivo de assessorar cada empresa de modo que ela possa autodesenvolver-se, o que a torna independente, sustentável econômico e financeiramente com processos definidos e dentro das conformidades.</p>
            </p>
            </div>
        </a>
        </div>
    </div>
</div>