 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <h1 class="text-black">Parceiros</h1>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row flex-row justify-content-around row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <div class=" col card border-0">
        <a href="/luz" class="text-decoration-none text-black">
            <img src="images/luzLogo.png" class="image card-img-top img-fluid" alt="Luz Estágios">
            <div class="card-body">
            <p class="card-text">
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </p>
            </div>
        </a>
        </div>
        <div class="col card border-0">
        <a href="/luz" class="text-decoration-none text-black">
            <img src="images/luzLogo.png" class="image card-img-top img-fluid" alt="Luz Estágios">
            <div class="card-body">
            <p class="card-text">
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </p>
            </div>
        </a>
        </div>
        <div class="col card border-0">
        <a href="/luz" class="text-decoration-none text-black">
            <img src="images/luzLogo.png" class="image card-img-top img-fluid" alt="Luz Estágios">
            <div class="card-body">
            <p class="card-text">
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </p>
            </div>
        </a>
        </div>
        <div class="col card border-0">
        <a href="/luz" class="text-decoration-none text-black">
            <img src="images/luzLogo.png" class="image card-img-top img-fluid" alt="Luz Estágios">
            <div class="card-body">
            <p class="card-text">
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </p>
            </div>
        </a>
        </div>
        <div class="col card border-0">
        <a href="/luz" class="text-decoration-none text-black">
            <img src="images/luzLogo.png" class="image card-img-top img-fluid" alt="Luz Estágios">
            <div class="card-body">
            <p class="card-text">
                <p class="paragraph">A Luz tem a missão de ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            </p>
            </div>
        </a>
        </div>
    </div>
</div>