<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 m-5">
  <div class="col d-flex align-items-stretch">
    <div class="card">
      <a href="/luz" class="text-decoration-none text-black">
        <img src="images/luzTumb.png" class="card-img-top img-fluid" alt="Luz Estágios">
        <div class="card-body">
          <h5 class="card-title"><strong>Luz</strong></h5>
          <p class="card-text">
            <p class="paragraph">A empresa Luz Estágio, surgiu no ano de 2018, para atuar como agente de integração entre empresas e pessoas, proporcionando momentos de oportunidades de aprendizados e atividades laborais, além de incentivar a qualificação profissional e gestão de pessoas.</p>
            <p class="paragraph"><strong>MISSÃO:</strong> Ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
            <p class="paragraph"><strong>VISÃO:</strong> Torna-se referência nacional, na inserção de pessoas na atividade profissional e, na capacitação de pessoas para alcançar sua independência financeira.</p>
            <p><strong>VALORES:</strong></p> 
              <li>FÉ</li>
              <li>RESPEITO</li>
              <li>TRANSFORMAÇÃO</li>
              <li>CONHECIMENTO</li>
              <li>RESILIÊNCIA</li>
              <li>IGUALDADE</li>
              <li>EMPATIA</li>
            </ul>
            <p class="paragraph">Conheça nossa rede social e nossos serviços. </p> 
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch">
    <div class="card">
      <a href="/dsop" class="text-decoration-none text-black">
        <img src="images/dsopTumb.png" class="card-img-top img-fluid" alt="Dsop Educação Financeira">
        <div class="card-body">
          <h5 class="card-title"><strong>DSOP</strong></h5>
          <p class="card-text">
            <p class="paragraph">Criada em 2008, a DSOP é uma organização dedicada à disseminação da educação financeira no Brasil e no mundo, por meio da aplicação da Metodologia DSOP, criada pelo PhD. em Educação Financeira, educador e terapeuta financeiro, Reinaldo Domingos. Para atingir essa missão, a DSOP oferece uma série de produtos e serviços para pessoas, empresas e instituições de ensino.</p>
            <p class="paragraph"><strong>MISSÃO:</strong> Disseminar a Educação Financeira no Brasil e no mundo, por meio da Metodologia DSOP, ensinando as pessoas a conquistarem autonomia financeira para a realização de seus sonhos.</p>
            <p class="paragraph"><strong>VISÃO:</strong> Ser referência em Educação Financeira no Brasil e no mundo por meio da Metodologia DSOP.</p>
            <p><strong>VALORES:</strong></p>
            <ul> 
              <li>FAMÍLIA</li>
              <li>DIVERSIDADE</li>
              <li>SUSTENTABILIDADE</li>
              <li>EMPREENDEDORISMO</li>
              <li>AUTONOMIA</li>
              <li>CIDADANIA</li>
            </ul>
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch">
    <div class="card">
      <a href="/mci" class="text-decoration-none text-black">
        <img src="images/mciTumb.png" class="card-img-top img-fluid" alt="Xp Investimentos">
        <div class="card-body">
          <h5 class="card-title"><strong>MCI</strong></h5>
          <p class="card-text">
          
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch">
    <div class="card">
      <a href="/fef" class="text-decoration-none text-black">
      <img src="images/fefTumb.png" class="card-img-top" alt="F&F Advogados">
        <div class="card-body">
          <h5 class="card-title"><strong>FRANÇA E FRANÇA</strong></h5>
          <p class="card-text">
            <p class="paragraph">O Escritório França & França Advogados, foi fundado no ano 2002, voltado para atuar no universo jurídico, através da advocacia, consultoria e assessoria no segmento do direito junto aos diversos setores, integrados pelas pessoas jurídicas ou pessoas físicas.</p>
            <p class="paragraph"><strong>MISSÃO:</strong>Proporcionar aos cidadãos, Entidades públicas e privadas o acesso ao direito de aplicação no dia a dia.</p>
            <p class="paragraph"><strong>VISÃO:</strong>Torna-se nacionalmente um centro jurídico, através do exercício da advocacia, consultoria, consultoria e estudos jurídicos.</p>
            <p><strong>VALORES:</strong></p>
            <ul> 
              <li>FÉ</li>
              <li>RESPEITO</li>
              <li>ATITUDE</li>
              <li>HONESTIDADE</li>
              <li>IGUALDADE</li>
              <li>SUPERAÇÃO</li>
            </ul>
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch">
    <div class="card">
      <a href="/next" class="text-decoration-none text-black">
        <img src="images/nextTumb.png" class="card-img-top" alt="Next Acessoria Contábil">
        <div class="card-body">
          <h5 class="card-title"><strong>NEXT</strong></h5>
          <p class="card-text">
            <p class="paragraph">A NEXT surgiu no ano de XXX, para assessorar  empresas de modo que elas possam se autodesenvolver, tornando-se independentes, sustentáveis econômico e financeiramente com processos definidos e dentro das conformidades.</p>
            <p class="paragraph"><strong>MISSÃO:</strong> Assessorar empresas de modo que elas possam se autodesenvolver, tornando-se independentes, sustentáveis economico e financeiramente com processos definidos e dentro das conformidades. Assessorar para que as pequenas e médias empresas tenham as mesmas condições de atuação das grandes empresas. Prover soluções empresariais e contábeis com foco no resultado dos nossos clientes.</p>
            <p class="paragraph"><strong>VISÃO:</strong> Acreditamos que podemos, com nossas expertises, ajudar as empresas da região a trabalharem de forma mais eficiente, dentro dos parâmetros legais e, para tanto, trabalhamos firmemente para nos tornarmos referência em assessoria contábil e empresarial na Região do Cariri</p>
            <p><strong>VALORES:</strong> Cremos e utilizamos preceitos de ética, sustentabilidade e governança que nos norteiam. A Ética profissional, a seriedade e a valorização das pessoas são os pilares dos valores da empresa.</p>
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch">
    <div class="card ">
      <a href="/futurum" class="text-decoration-none text-black">
        <img src="images/futurumTumb.png" class="card-img-top" alt="Futurum Tecnology">
         <div class="card-body">
          <h5 class="card-title"><strong>FUTURUM</strong></h5>
          <p class="card-text">
            <p class="paragraph">A empresa Futurum Tecnology foi criada em 2018, para trabalhar com sistemas operacionais e soluções tecnológicas para diversos setores públicos e privados, procurando proporcionar experiências personalizadas e eficientes nas rotinas operacionais dos clientes.</p>
            <p class="paragraph"><strong>MISSÃO:</strong>Criar ferramentas e soluções tecnológicas para pessoas e instituições, desenvolverem suas atividades de forma eficiente.</p>
            <p class="paragraph"><strong>VISÃO:</strong>Tornar-se referência em soluções tecnológicas proativa e atendimento virtual, na região nordeste.</p>
            <p><strong>VALORES:</strong></p>
            <ul> 
              <li>ATITUDE</li>
              <li>HONESTIDADE</li>
              <li>CONHECIMENTO</li>
              <li>IGUALDADE</li>
              <li>INOVAÇÃO</li>
              <li>TRANSFORMAÇÃO</li>
            </ul>
            <p class="paragraph">Conheça a rede social e nossos serviços. </p>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

