<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 m-5">
  <div class="col d-flex align-items-stretch">
    <div class="card">
      <a href="/fef" class="text-decoration-none text-black">
      <img src="images/fefTumb.png" class="card-img-top" alt="F&F Advogados">
        <div class="card-body">
          <h5 class="card-title"><strong>FRANÇA E FRANÇA</strong></h5>
          <p class="card-text">
            <p class="paragraph"><strong>MISSÃO:</strong> Proporcionar aos cidadãos, Entidades públicas e privadas o acesso ao direito de aplicação no dia a dia.</p>
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch">
    <div class="card">
      <a href="/luz" class="text-decoration-none text-black">
        <img src="images/luzTumb.png" class="card-img-top img-fluid" alt="Luz Estágios">
        <div class="card-body">
          <h5 class="card-title"><strong>Luz</strong></h5>
          <p class="card-text">
            <p class="paragraph"><strong>MISSÃO:</strong> Ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.</p>
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch">
    <div class="card">
      <a href="/dsop" class="text-decoration-none text-black">
        <img src="images/dsopTumb.png" class="card-img-top img-fluid" alt="Dsop Educação Financeira">
        <div class="card-body">
          <h5 class="card-title"><strong>DSOP</strong></h5>
          <p class="card-text">
            <p class="paragraph"><strong>MISSÃO:</strong> Disseminar a Educação Financeira no Brasil e no mundo, por meio da Metodologia DSOP, ensinando as pessoas a conquistarem autonomia financeira para a realização de seus sonhos.</p>
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch">
    <div class="card ">
      <a href="/futurum" class="text-decoration-none text-black">
        <img src="images/futurumTumb.png" class="card-img-top" alt="Futurum Tecnology">
         <div class="card-body">
          <h5 class="card-title"><strong>FUTURUM</strong></h5>
          <p class="card-text">
            <p class="paragraph"><strong>MISSÃO:</strong> Criar ferramentas e soluções tecnológicas para pessoas e instituições, desenvolverem suas atividades de forma eficiente.</p>
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch">
    <div class="card">
      <a href="/next" class="text-decoration-none text-black">
        <img src="images/nextTumb.png" class="card-img-top" alt="Next Acessoria Contábil">
        <div class="card-body">
          <h5 class="card-title"><strong>NEXT</strong></h5>
          <p class="card-text">
            <p class="paragraph"><strong>MISSÃO:</strong> Assessorar empresas de modo que elas possam se autodesenvolver, tornando-se independentes, sustentáveis economico e financeiramente com processos definidos e dentro das conformidades. Assessorar para que as pequenas e médias empresas tenham as mesmas condições de atuação das grandes empresas. Prover soluções empresariais e contábeis com foco no resultado dos nossos clientes.</p>
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch">
    <div class="card">
      <a href="/mci" class="text-decoration-none text-black">
        <img src="images/mciTumb.png" class="card-img-top img-fluid" alt="Xp Investimentos">
        <div class="card-body">
          <h5 class="card-title"><strong>MCI</strong></h5>
          <p class="card-text">
          
          </p>
        </div>
      </a>
    </div>
  </div> 
</div>

