<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 m-5">
  <div class="col">
    <div class="card">
      <a href="/luz" class="text-decoration-none text-black">
        <img src="images/luzTumb.png" class="card-img-top img-fluid" alt="Luz Estágios">
        <div class="card-body">
          <h5 class="card-title">Luz</h5>
          <p class="card-text">
            A empresa Luz Estágio, surgiu no ano de 2018, para atuar como agente de integração entre empresas e pessoas, proporcionando momentos de oportunidades de aprendizados e atividades laborais, além de incentivar a qualificação profissional e gestão de pessoas. 
            MISSÃO: Ser agente de integração ao mercado de trabalho e proporcionar capacitações para uma melhor qualificação profissional e qualidade de vida.
            VISÃO: Torna-se referência nacional, na inserção de pessoas na atividade profissional e, na capacitação de pessoas para alcançar sua independência financeira.
            VALORES: 
            •	FÉ 
            •	RESPEITO 
            •	TRANSFORMAÇÃO 
            •	CONHECIMENTO 
            •	RESILIÊNCIA 
            •	IGUALDADE 
            •	EMPATIA.

            Conheça nossa rede social e nossos serviços.  

          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/dsop" class="text-decoration-none text-black">
        <img src="images/dsopTumb.png" class="card-img-top img-fluid" alt="Dsop Educação Financeira">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/mci" class="text-decoration-none text-black">
        <img src="images/mciTumb.png" class="card-img-top img-fluid" alt="Xp Investimentos">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/fef" class="text-decoration-none text-black">
      <img src="images/fefTumb.png" class="card-img-top" alt="F&F Advogados">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/next" class="text-decoration-none text-black">
        <img src="images/nextTumb.png" class="card-img-top" alt="Next Acessoria Contábil">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card ">
      <a href="/futurum" class="text-decoration-none text-black">
        <img src="images/futurumTumb.png" class="card-img-top" alt="Futurum Tecnology">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </a>
    </div>
  </div>
</div>

