    <div class="d-flex justify-content-around"> 
        <form class="m-5 " action="/validarSecret" method="post" id="formulario">

            <div class="mb-3">
                <p><strong>Falta pouco para validar seu cadastro!</strong></p>
                <p><strong>Por favor, insira sua senha.</strong></p>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="d-flex flex-row" >
                    <input type="password" class="form-control" id="password" name="password" minlength="8" maxlength="20" placeholder="Digite a sua senha" required>
                    <button type="button" class="btn border" onclick="olho()" id="btn_olho"><img src="icons/olho_a_icon.png" id="icon_olho"></button>
                </div>          
            </div>
            <button class="g-recaptcha btn btn-primary w-100" data-sitekey="6LciB7AfAAAAAMKT3Nlr-Ch2oCIWetsL58dMkCUC" data-callback='onSubmit' data-action='submit'>Entrar</button>
            
        </form>
    </div>