<div class="conteiner-fluid">
    <p>Prezado(a) {{nome}} seu cadastro foi efetuado com sucesso! Enviamos um email com um link para a validação do seu cadastro.</p>
    <p>O link enviado tem validade de 1(uma) hora.</p>
    <p>Se não encontrar o email, por favor verifique na pasta de spam.</p>
    <p class="card-text">Entre na sua conta através do link: <a href="/login">Logar</a></p>
    <a class="btn btn-success" href="/">Página Inicial</a>
    <a class="btn btn-success" href="/enviarEmail">Reenviar Email</a>
</div>
