<div class="conteiner-fluid m-5">
    <p>Prezado(a) {{nome}}, seu cadastro foi efetuado com sucesso! Enviamos um email com um link para a validação do seu cadastro.</p>
    <p>O link enviado tem validade de 1(uma) hora.</p>
    <p>Se não encontrar o email, por favor verifique na pasta de spam.</p>
    <a class="btn btn-success" href="/login">Logar</a>
    <a class="btn btn-success" href="/">Página Inicial</a>
    <a class="btn btn-success" href="/enviarEmail">Reenviar Email</a>
</div>
