<div class="row row-cols-1  row-cols-md-1 row-cols-lg-2 pred_margin" style="min-height: 600px;" >
    <div class="col justify-content-center align-items-center bg-black">
        <video playsinline autoplay muted loop class="w-100" style="min-height: 100%;">
            <source src="Videos/P_Video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col justify-content-center align-items-start bg-black">
        <div class="row">
            <div class="col">
                <p class="text-white m-5">
                    <h1><b style="opacity: 1; color: gray;" >Um Pouco Sobre Nós</b></h1>
                    <hr style="opacity: 1; color: gray;" width="150px" size="7px" /> 
                </p>
                <p ><h3 class="paragraph m-5" style="opacity: 1; color: gray;" >O grupo prisma conexão surgiu no ano 2015, através de uma ideia de conectar pessoas e aproximar soluções para as demandas operacionais e administrativas dos seus clientes, um ecossistema de serviços que aproxima de forma eficiente as expertises necessárias para suas soluções.</h3></p>
            </div>        
        </div>      
    </div>
</div>
