<div class="row row-cols-1  row-cols-md-1 row-cols-lg-2 mt-5">
    <div class="col embed-responsive embed-responsive-21by9 ">
        <iframe width="100%" height="600px" src="https://www.youtube.com/embed/-8mgsadz0A4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col justify-content-center align-items-start bg-black">
        <div class="row">
            <div class="col">
                <h1 class="text-white m-5">
                    <b >Um Pouco Sobre Nós</b>
                    <hr style="opacity: 1; color: gray;" width="150px" size="7px" /> 
                </h1>
                <p ><h3 class="paragraph m-5" style="opacity: 1; color: gray;" >O grupo prisma conexão surgiu no ano 2015, através de uma ideia de conectar pessoas e aproximar soluções para as demandas operacionais e administrativas dos seus clientes, um ecossistema de serviços que aproxima de forma eficiente as expertises necessárias para suas soluções.</h3></p>
            </div>        
        </div>      
    </div>
</div>