<div class="row flex-row">
    <div class="col embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=-8mgsadz0A4"></iframe>
    </div>
    <div class="col">
        
    </div>
</div>