<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma Soluções</title>
    <link href="styles/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="styles/styles_one.css" type="text/css" rel="stylesheet"/>

</head>
<body>
    {{{body}}}
    <a href="https://api.whatsapp.com/send?phone=5588988158311&text=Olá!" class="whatsapp">
        <img src="icons/whats_icon.png"/>
    </a>
    <script src="styles/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>