<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="ldCuwhyrOFie_B8BrtkMMuHXgoOZ3cFgXj3ZtgZRfKo" />
    <meta name='description' content='Prisma Soluções - Suporte jurídico, contábil, financeiro e empresarial - Seja um parceiro de sucesso!.'>
    <title>Suporte jurídico, contábil, financeiro e empresarial </title>
    <link rel="shortcut icon" href="icons/prisma_icon.png">
    <link href="styles/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="styles/styles_one.css" type="text/css" rel="stylesheet"/>

</head>
<body  class="bg-white">
    {{{body}}}
    {{>formErro}}  
    <script src="styles/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>
</html>