<div class="d-flex justify-content-start align-items-start m-5">
    {{#each data}}
        <div class="d-flex flex-row">
            <div class="col">
                {{this.email}}
            </div>
            <div class="col">
                <a href="/delAdm" ><input type="button"  class="btn btn-secondary m-2" style="width: 150px;" value="Apagar" /></a>
            </div>
        </div>
    {{/each}}
    <div>
        <a href="/administrarSite" ><input type="button"  class="btn btn-secondary m-2" style="width: 300px;" value="Voltar" /></a>
    </div>
    
</div>