<div class="d-flex flex-column justify-content-start align-items-start m-5">
    <div class="d-flex border border-1 justify-content-center align-items-center m-2" style="width: 300px;>
        <div class="co d-dlex justify-content-center align-items-center m-2" ">
            {{log}}
    </div>
    {{#each data}}
        <div class="d-flex flex-row border border-1 justify-content-center align-items-center m-2">
            <div class="col d-dlex justify-content-center align-items-center m-2" style="width: 300px;">
                {{this.email}}
            </div>
            <div class="col">
                <a href="/delAdm/{{this.id}}" ><input type="button"  class="btn btn-secondary m-2" style="width: 150px;" value="Apagar" ></a>    
            </div>
        </div>
    {{/each}}
    <div class="d-flex justify-content-start align-items-start">
        <a href="/administrarSite" ><input type="button"  class="btn btn-secondary m-2" style="width: 150px;" value="Voltar" /></a>
    </div>    
</div>

