<div class="card">
  <div class="card-header">
    {{>especialHead}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Desculpe, não foi possível processar esta operação. Tente novamente mais tade ou entre em contato conosco.</h5>
    <a href="/" class="btn btn-primary">Início</a>
  </div>
</div>
{{>whatsLink}}