<div class="card">
  <div class="card-header">
    {{>especialHead}}
  </div>
  <div class="card-body">
    <h5 class="card-title danger">{{status}}</h5>
    <p class="card-text">Contiuar Atualização: <a href="/atualizarSite">Atualizar</a></p>
    <a href="/" class="btn btn-primary">Início</a>
  </div>
</div>
{{>whatsLink.hbs}}