
<div class="card">
  <div class="card-header">
    {{>especialHead}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Bem vindo(a) {{user}}, seu cadastro foi efetuado com sucesso!</h5>
    <p class="card-text">Entre na sua conta através do link: <a href="/login">Logar</a></p>
    <a href="/" class="btn btn-primary">Início</a>
  </div>
</div>
{{>whatsLink}}