
<div class="card">
  <div class="card-header">
    {{>especialHead}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{user}} não é você?</h5>
    <p class="card-text"><a href="/sair">Sair</a></p>
    <a href="/" class="btn btn-primary">Início</a>
  </div>
</div>
{{>whatsLink}}