<div class="card">
  <div class="card-header">
    {{>especialHead}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Já existe um cadastro para este email: {{email}}</h5>
    <p class="card-text"><a href="/login">Login</a></p>
    <p class="card-text"><a href="/cadastrar">Cadastrar-se</a></p>
    <a href="/" class="btn btn-primary">Início</a>
  </div>
</div>
{{>whatsLink}}