<div style="background-color: gray ;">
    <div style="display:flex; justify-content:center ; max-height: 40px; background-color:black ;">
        <a href="/" class="text-white text-decoration-none">
            <div style="display: flex ; flex-direction: row ; justify-content: center;">
                <img src="https://appprisma.herokuapp.com/icons/prisma_icon.png" style="border-radius: 500% ; height: 100%; background-color: white; "/>
                <h5 style="color:white ;">Prisma</h5>
            </div>
        </a>
    </div>
    <div style="display:flexbox ;">
        <div style="display:flex ; justify-content:space-around ;"> 
            <form style="margin: 5% ;" action="/validarSecret" method="post" id="formulario">
                <div style="margin-bottom: 3% ;">
                    <p><strong>Falta pouco para validar seu cadastro!</strong></p>
                    <p><strong>Por favor, insira sua senha.</strong></p>
                </div>
                <div style="display: flex ; flex-direction: row ; justify-content: center; margin-bottom: 3% ;">
                    <input type="password"  id="password" name="password" minlength="8" maxlength="20" placeholder="Digite a sua senha" required>      
                    <button type="button" style="border-radius: 30%  ;" onclick="olho()" id="btn_olho"><img src="https://appprisma.herokuapp.com/icons/olho_a_icon.png" id="icon_olho"></button>
                </div>
                <div style="display: flex ; justify-content: center;">
                    <button class="g-recaptcha" style="width:85% ;height: 40px; background-color: green;" data-sitekey="6LciB7AfAAAAAMKT3Nlr-Ch2oCIWetsL58dMkCUC" data-callback='onSubmit' data-action='submit'>Validar</button>   
                </div>
            </form>
        </div>
    </div>
</div>
    {{>captcha_f}}
    <script>
        function olho(){
            let password = document.getElementById("password")
            let olho = document.getElementById("icon_olho")
            if(password.type == "password"){
                password.type = "text"
                olho.src = "https://appprisma.herokuapp.com/icons/olho_f_icon.png"
            }else{
                password.type = "password"
                olho.src = "https://appprisma.herokuapp.com/icons/olho_a_icon.png"
            }
        }
    </script>
    <script>
        setTimeout(function(){
            //var navegator = window.navigator;
            var sBrowser, sUsrAg = navigator.userAgent;

            if (sUsrAg.indexOf("Edg") > -1) {
                sBrowser = "MS Edge";
            }
            if(sBrowser == "MS Edge"){
                document.getElementById("btn_olho").remove()
            }
            }, 1);
    </script>