
    <div style="display:flex; justify-content:center ; background-color:black ;">
        <a href="/" class="text-white text-decoration-none"><h5><img src="https://appprisma.herokuapp.com/icons/prisma_icon.png" class="img-fluid bg-white rounded-circle"/>Prisma</h5></a>
    </div>
    <div style="display:flexbox ;">
        <div style="display:flex ; justify-content:space-around ;"> 
            <form style="margin: 5% ;" action="/validarSecret" method="post" id="formulario">
                <div style="margin-bottom: 3% ;">
                    <p><strong>Falta pouco para validar seu cadastro!</strong></p>
                    <p><strong>Por favor, insira sua senha.</strong></p>
                </div>
                <div style="margin-bottom: 3% ;">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" minlength="8" maxlength="20" placeholder="Digite a sua senha" required>      
                </div>
                <button class="g-recaptcha btn btn-primary w-100" data-sitekey="6LciB7AfAAAAAMKT3Nlr-Ch2oCIWetsL58dMkCUC" data-callback='onSubmit' data-action='submit'>Validar</button>   
            </form>
        </div>
    </div>
    {{>captcha_f}}