<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
</head>
<body class="bg-secondary bg-opacity-50">
    <div class="d-flex justify-content-center bg-black">
        <a href="/" class="text-white text-decoration-none"><h5><img src="/app/src/public/icons/prisma_icon.png" class="img-fluid bg-white rounded-circle"/>Prisma</h5></a>
    </div>
    <div class="conteiner-fluid">
        <div class="d-flex justify-content-around"> 
            <form class="m-5 " action="/validarSecret" method="post" id="formulario">
                <div class="mb-3">
                    <p><strong>Falta pouco para validar seu cadastro!</strong></p>
                    <p><strong>Por favor, insira sua senha.</strong></p>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="d-flex flex-row" >
                        <input type="password" class="form-control" id="password" name="password" minlength="8" maxlength="20" placeholder="Digite a sua senha" required>
                        <button type="button" class="btn border" onclick="olho()" id="btn_olho"><img src="/app/src/public/icons/olho_a_icon.png" id="icon_olho"></button>
                    </div>          
                </div>
                <button class="g-recaptcha btn btn-primary w-100" data-sitekey="6LciB7AfAAAAAMKT3Nlr-Ch2oCIWetsL58dMkCUC" data-callback='onSubmit' data-action='submit'>Validar</button>   

            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        function olho(){
            let password = document.getElementById("password")
            let olho = document.getElementById("icon_olho")
            if(password.type == "password"){
                password.type = "text"
                olho.src = "/app/src/public/icons/olho_f_icon.png"
            }else{
                password.type = "password"
                olho.src = "/app/src/src/public/icons/olho_a_icon.png"
            }
        }
    </script>
        <script>
            setTimeout(function(){
                //var navegator = window.navigator;
                var sBrowser, sUsrAg = navigator.userAgent;

                if (sUsrAg.indexOf("Edg") > -1) {
                    sBrowser = "MS Edge";
                }
                if(sBrowser == "MS Edge"){
                    document.getElementById("btn_olho").remove()
                }
                }, 1);
        </script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
            function onSubmit(token) {
            document.getElementById("formulario").submit();
            }
        </script>
    </body>
</html>