div#navSup {
    height: 3rem;
}

.barraOne {
    z-index: 1;
}

.barraNotPrint {
    position: fixed;
    z-index: 0;
    opacity: 0;
}

.barraPrint {
    position: fixed;
    z-index: 2;
    top: 0px;
    opacity: 1;
    transition: opacity 4s linear;
}

.paragraph {
    text-align: justify;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 70px
}

#mainCarousel .carousel-caption {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

#mainCarousel .btn {
    width: 200px;
    height: 50px;
    border: 0px;
    background-color: rgb(84, 202, 153);
}