div#navSup {
    height: 3rem;
}

.barraOne {
    z-index: 1;
}

.barraNotPrint {
    position: fixed;
    z-index: 0;
    opacity: 0;
}

.barraPrint {
    position: fixed;
    z-index: 2;
    top: 0px;
    opacity: 1;
    transition: opacity 4s linear;
}

.paragraph {
    text-align: justify;
}

.whatsapp {
    position: fixed;
    bottom: 0%;
    right: 5%;
}