div#navSup {
    height: 3rem;
}

.barraOne {
    z-index: 1;
}

.barraNotPrint {
    position: fixed;
    z-index: 0;
    opacity: 0;
}

.barraPrint {
    position: fixed;
    z-index: 2;
    top: 0px;
    opacity: 1;
    transition: opacity 4s linear;
}

.paragraph {
    text-align: justify;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 70px
}

#mainCarousel .carousel-caption {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

#mainCarousel .btn {
    width: 200px;
    height: 50px;
    border: 0px;
    border-radius: 50px;
    background-color: rgb(84, 202, 153);
}

#rodapeMensagem .form-control {
    height: 50px;
    margin-top: 15px;
    width: 250px;
    border: 0px;
    border-radius: 50px;
    background-color: rgb(32, 31, 31);
}

#rodapeMensagem .btn {
    height: 50px;
    border: 0px;
    border-radius: 50px;
    background-color: rgb(84, 202, 153);
}

.faleConoscoPrisma {
    background-color: rgb(56, 54, 54);
}

.image {
    -webkit-filter: grayscale(100%);
}

.image:hover {
    -webkit-filter: grayscale(0%);
    transition: 2.5s;
}

.btn_fcam {
    color: white;
    width: 300px;
    height: 50px;
    border: 0px;
    border-radius: 50px;
    background-color: rgb(84, 202, 153);
}

.img_noticias {
    height: 300px;
    width: 400px;
    border-radius: 20px;
}

.body_noticias {
    max-width: 400px;
}